<!DOCTYPE html>
<html>
  <head>
    <title>Hello Express!</title>
  </head>

  <body>
    <h1>Hello Express!</h1>
    <h2>Your Address : <%= clientAddr %></h2>
    <p>
      현재 시각은,
    </p>
    <p>
      <%= new Date() %>
    </p>
    <p>
      입니다.
    </p>
</html>